.carousel-open:checked + .carousel-item {
  position: static;
  opacity: 100;
}

.carousel-item {
  -webkit-transition: opacity 0.6s ease-out;
  transition: opacity 0.6s ease-out;
}

/* #carousel-1:checked~.control-1,
    #carousel-2:checked~.control-2,
    #carousel-3:checked~.control-3 {
      display: block;
    } */

.carousel-indicators {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}
.dark {
  background: linear-gradient( rgba(0, 0, 0, 0.5),  rgba(0, 0, 0, 0.5));   
}
#about:hover + #aboutHover {
  display: flex;
}
#aboutHover:hover {
  display: flex;
}
#service:hover + #serviceHover {
  display: flex;
}
#serviceHover:hover {
  display: flex;
}
#industry:hover + #industryHover {
  display: flex;
}
#industryHover:hover {
  display: flex;
}



/* #carousel-1:checked~.control-1~.carousel-indicators li:nth-child(1) .carousel-bullet,
    #carousel-2:checked~.control-2~.carousel-indicators li:nth-child(2) .carousel-bullet,
    #carousel-3:checked~.control-3~.carousel-indicators li:nth-child(3) .carousel-bullet {
      color: #2b6cb0;
      /* Set to match the Tailwind colour you want the active one to be
      } */
.responsive-active {
  display: block;
}
.responsive-hidden {
  display: none;
}

@media screen and (max-width: 1024px) {
  .responsive-active {
    display: none;
  }
  .responsive-hidden {
    display: block;
  }
  .home-page-form-1 {
    padding: 5rem;
  }
  .home-page-form-1 form {
    padding: 12px;
  }
}

@media screen and (max-width: 768px) {
  .home-page-form-1 {
    width: 100%;
    padding: 3rem;
  }
  .home-page-form-1 form {
    padding: 8px;
  }
  .responsive-hidden {
    font-size: 1rem;
  }
}

@media screen and (max-width: 400px) {
  .home-page-form-1 {
    padding: 0.5rem;
  }
  .home-page-form-1 form {
    padding: 4px;
  }
  .responsive-hidden {
    font-size: 0.75rem;
  }
}
